* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f7f7f7;
  padding: 50px;
}

.timeline {
  position: relative;
}

/* horizontal line */
.line {
  height: 4px;
  background:  #0aa;
  position: absolute;
  top: -3px;
  left: 0;
  right: 0;
}

/* flex container */
.timeline-container {
  display: flex;
  justify-content: space-between;
}

/* each card */
.timeline-item {
  width: 22%;
  background: white;
  padding: 25px 15px;
  text-align: center;
  border-radius: 6px;
  position: relative;
}

/* dot */
.dot {
  width: 14px;
  height: 14px;
  background: #0aa;
  border-radius: 50%;
  position: absolute;
  top: -9px; 
}

.dot:hover{
    background:green;
}

.timeline-item h3 {
  margin-bottom: 10px;
  color: #0aa;
}

.timeline-item p {
  font-size: 14px;
  color: #555;
}
